/* ============================================
   CODE LEGACY POKEHUB - jv-actu.com uniquement
   ============================================ */

/* HEADER */
#respond, #author {
	scroll-margin-top: 144px;
}
@media (max-width: 1024px) {
	#respond, #author {
		scroll-margin-top: 143px;
	}
}
@media (max-width: 767px) {
	#respond, #author {
		scroll-margin-top: 115px;
	}
}

/* ARTICLES */
.news-main-content h2, .news-main-content h3, .news-main-content h4, .news-main-content h5 {
	text-align: left !important;
}
.poke-hub-news-main-content .news-main-content h2 {
	color: var(--e-global-color-7eadbc3) !important;
}
.poke-hub-news-main-content .news-main-content h3, .poke-hub-news-main-content .news-main-content h4, .poke-hub-news-main-content .news-main-content h5 {
	color: var(--e-global-color-1cb51a2) !important;
}
.poke-hub-news-main-content .news-main-content a {
	color: var(--e-global-color-7eadbc3) !important;
}
.poke-hub-news-main-content .news-main-content a:hover {
	color: var(--e-global-color-1cb51a2) !important;
}

/* COMMENTAIRES */
.single-news-comments .title-comments, .single-news-comments .says, .single-news-comments .comment-reply-title, .single-news-comments .required-field-message, .single-news-comments .logged-in-as, .single-news-comments .comment-form-comment label, .single-news-comments ol.comment-list .children:before {
	display: none !important;
}
.single-news-comments .edit-link a {
	color: var(--e-global-color-secondary) !important;
}
.poke-hub-news-main-content .single-news-comments .edit-link a, .poke-hub-news-main-content .comment-author a:hover {
	color: var(--e-global-color-1cb51a2) !important;
}
.single-news-comments .comment-reply-link, .single-news-comments .comment-reply-login {
	font-size: 12px;
	color: #0f1826;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Poppins';
}
.single-news-comments .must-log-in {
	text-align: center;
	text-transform: uppercase;
	background-color: #dee5ec;
	padding: 5px;
	border-radius: 5px;
	margin: 10px 0;
	font-size: 12px;
	font-weight: 500;
}
.single-news-comments .must-log-in a {
	color: var(--e-global-color-primary);
}
.single-news-comments .must-log-in a:hover {
	color: var(--e-global-color-secondary);
}
.poke-hub-news-main-content .single-news-comments .must-log-in a {
	color: var(--e-global-color-1cb51a2);
}
.poke-hub-news-main-content .single-news-comments .must-log-in a:hover {
	color: var(--e-global-color-7eadbc3);
}
.single-news-comments .comment-form-comment textarea:focus-visible {
	outline: none;
}

/* BLOC AUTEUR */
.admin-lab-author-social-icon svg:hover {
	color: #11161E;
}

/* AFFILIATION AMAZON */
.cegg5-container-main-poke-hub .card-title {
	color: var(--e-global-color-text) !important;
}

.cegg5-container-main-poke-hub .cegg-grid-card:hover .card-title, .cegg5-container-main-poke-hub .cegg-list-card:hover .card-title {
	text-decoration: none !important;
}

.cegg5-container-main-poke-hub .btn-outline-primary {
	background-color: var(--e-global-color-7eadbc3) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: var(--e-global-color-a8b882f) !important;
    border-style: none !important;
    border-radius: 3px !important;
}

.cegg5-container-main-poke-hub .btn-outline-primary:hover {
	background-color: var(--e-global-color-1cb51a2) !important;
}

/* CONTAINERS */
.news-square-container {
	aspect-ratio: 1/1;
}

/* PAGINATION */
.elementor-pagination a:not([href]),
.elementor-pagination a[href=""],
.elementor-pagination span {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.elementor-pagination .page-numbers {
	background: var(--e-global-color-e5d6d99);
	display: inline-block;
	min-width: 28px;
    padding: 5px 0;
    border-radius: 3px;
}

.elementor-pagination .current, .elementor-pagination .page-numbers:hover {
	background: var(--e-global-color-secondary);
	opacity: 1;
    color: #ffffff;
}

.poke-hub-news-category .elementor-pagination .current, .poke-hub-news-category .elementor-pagination .page-numbers:hover {
	background: var(--e-global-color-1cb51a2);
}

/* SIDEBAR */
/* COMPARATOR WIDGETS */
.comparator-widget-poke-hub .admin-lab-comparator--classic {
	background: var(--e-global-color-7eadbc3);
}

.comparator-widget-poke-hub .admin-lab-comparator-header-chip {
	background-color: var(--e-global-color-1cb51a2);
}

.comparator-widget-poke-hub .admin-lab-comparator-header-chip__platforms {
	background-color: var(--e-global-color-f06f292);
}

.comparator-widget-poke-hub .admin-lab-comparator-type-chip {
	background-color: var(--e-global-color-f06f292);
}

.comparator-widget-poke-hub .admin-lab-comparator__title,
.comparator-widget-poke-hub .admin-lab-comparator__section-title {
	color: #ffffff !important;
}

.comparator-widget-poke-hub .admin-lab-comparator-meta-label {
	color : #e99ca0;
}

.comparator-widget-poke-hub .admin-lab-comparator-offer-line__buy-btn,
.comparator-widget-poke-hub .admin-lab-comparator-all-prices-btn {
	background: var(--e-global-color-1cb51a2);
	color: #ffffff !important;
}

.comparator-widget-poke-hub .admin-lab-comparator-banner-price__badge,
.comparator-widget-poke-hub .admin-lab-comparator-banner__cta-btn {
	background-color: var(--e-global-color-7eadbc3) !important;
    border: 1px solid var(--e-global-color-7eadbc3) !important;
    color: #ffffff !important;
}

/* ------------------------ */

/* CODES POGO OLD */
td h2, td h3, td h4, td h5 {
text-align : center;
}
.green {
background-color : #e5ffed;
}
.red {
background-color : #f7dfdf;
padding : 10px;
border-radius : 10px;
}
.quetes h3, .rewards h3, .raids h3, .sauvage h3, .raids h3, .new-pokemon h3, .evolution-pokemon h3, .attaque-pokemon h3, .defi-collection h3, .oeufs h3, .fiche-pokemon h3, .contre-boss-raid h3, .new-obscur h3, .team-boss-rocket h3, .maj-attaque h3, .pvp h3, .planning-pvp h3, .coupe-pvp h3, .recompense-pvp h3, .special-box h3, .objects h3, .counters h3, .phase-etude h3, .ranking h3 {
font-size : 18px !important ;
margin : 0 !important ;
}
.oeufs h4 {
text-align : center;
}
.mega-energie {
width : 50px;
}
.ligne-quete {
text-align : left !important ;
}
.raids-event h3 {
margin : 0 !important ;
}
.titre {
background-color : #dcdcdc;
}
.titre-style-2 {
background-color : #ececec;
}
.couleur-2 {
background-color : #f3f3f3;
}
.raids h4, .rewards h4, .raids-event h4, .oeufs h4, .fiche-pokemon h4, .contre-boss-raid h4, .team-boss-rocket h4, .new-pokemon h4, .maj-attaque h4, .pvp h4, .planning-pvp h4, .coupe-pvp h4, .recompense-pvp h4, .special-box h4, .objects h4, .counters h4, .phase-etude h4, .ranking h4 {
font-size : 16px !important ;
margin : 0 !important ;
}
.quetes h5, .rewards h4, .raids h5, .sauvage h5, .raids h5, .new-pokemon h5, .evolution-pokemon h5, .attaque-pokemon h5, .defi-collection h5, .oeufs h5, .fiche-pokemon h5, .contre-boss-raid h5, .new-obscur h5, .team-boss-rocket h5, .maj-attaque h5, .maj-attaque h6, .pvp h5 .planning-pvp h5, .coupe-pvp h5, .recompense-pvp h5, .special-box h5, .objects h5, .counters h5, .phase-etude h5, .ranking h5 {
font-size : 14px !important ;
margin : 0 !important ;
}
.oeuf, .raid {
max-height : 40px;
}
.rarete-oeuf {
max-height : 30px;
padding : 0 2px;
}
.shiny, .objects {
padding : 15px 2px 2px 2px;
position : relative !important ;
text-align : center;
}
.raid-boss {
max-height : 90px;
width : auto;
}
.obscur {
position : absolute;
width : 25px;
}
.type-pokemon {
text-align : center;
}
.pokemon-fiche {
max-height : 100px;
width : auto;
}
.meteo img {
height : 50px;
}
.pokemon, .object, .candy {
max-height : 60px;
width : auto;
}
.pokemon-oeuf {
max-height : 70px;
width : auto;
}
.pokemon-event, .boss-rocket {
max-height : 80px;
width : auto;
}
.emoji-shiny {
position : absolute !important ;
right : 5px !important ;
top : 5px !important ;
width : 15px;
}
.emoji-echange, .emoji-evolution-defi, .emoji-encens {
position : absolute !important ;
right : 5px !important ;
top : 5px !important ;
width : 20px;
}
.emoji-sbire, .emoji-evolution {
position : absolute !important ;
left : 5px !important ;
top : 5px !important ;
width : 25px;
}
.emoji-giovanni, .emoji-sierra, .emoji-arlo, .emoji-cliff {
position : absolute !important ;
left : 5px !important ;
bottom : 5px !important ;
width : 30px;
}
.emoji-jessie, .emoji-james {
position : absolute !important ;
right : 5px !important ;
bottom : 5px !important ;
width : 30px;
}
.emoji-number {
position : absolute !important ;
right : 5px !important ;
bottom : 5px !important ;
width : 15px;
}
.region {
position : absolute !important ;
left : 5px !important ;
top : 5px !important ;
width : 15px;
}
.pokemon-type {
max-height : 30px !important ;
}
.emote-container {
text-align : center;
}
.emote-ligue-pvp, .rang-pvp {
height : 60px !important;
}
.coupe-pvp {
text-align : center;
}
.coupe-pvp img {
height : 50px;
}
.coupe-pvp .emoji-shiny {
position : absolute !important ;
right : 5px !important ;
top : 5px !important ;
width : 15px;
height : 15px;
}
.recompense-pvp {
text-align : center;
}
.recompense-pvp .pokemon, .recompense-pvp .objet {
max-height : 40px !important;
max-width : 50px !important;
}
.type-pokemon img{
height : 30px !important;
}
@media (max-width: 480px) {
.quetes td, .raids td, .sauvage td, .raids-event td, .new-pokemon td, .evolution-pokemon td, .attaque-pokemon td, .defi-collection td, .oeufs td, .objects td {
font-size : 12px;
}
.quetes h3, .raids h3, .sauvage h3, .raids-event h3, .new-pokemon h3 .evolution-pokemon h3, .attaque-pokemon h3, .defi-collection h3, .oeufs h3, .fiche-pokemon h3, .contre-boss-raid h3, .new-obscur h3, .team-boss-rocket h3, .special-box h3, .objects h3, .counters h3, .phase-etude h3, .ranking h3 {
font-size : 13px !important ;
}
.raids h4, .raids-event h4, .oeufs h4, .fiche-pokemon h4, .contre-boss-raid h4, .team-boss-rocket h4, .special-box h4, .objects h4 .counters h4, .phase-etude h4, .ranking h4 {
font-size : 12px !important ;
}
.team-boss-rocket h5, .counters h5 {
font-size : 10px !important ;
margin : 0 !important ;
}
.raid-boss {
max-width : 40px;
height : auto;
}
.type-pokemon {
text-align : center;
}
.pokemon, .object {
height : 40px;
width : auto;
}
.pokemon-oeuf {
max-height : 40px;
}
.boss-rocket {
max-height : 40px !important ;
width : auto;
}
.pokemon-event {
max-height : 60px !important ;
width : auto;
}
.pokemon-type {
max-height : 20px !important ;
}
.oeufs td {
padding : 2px 5px;
text-align : center;
}
.shiny {
padding : 15px 2px 2px 2px !important ;
}
.rarete-oeuf {
max-height : 20px;
}
.legende span {
font-size : 10px;
}
}
.pagination-segment {
background-color : #e8e8e8;
text-align : center;
padding : 5px 0;
width : 100%;
}
.button-container {
background-color : #d7020e;
display : inline-block;
text-align : center;
margin : 2px;
width : 60px;
height : 35px;
}
.button-container a {
color : #ffffff;
display : block;
padding : 6px 0;
height : 35px;
width : 60px;
}
.button-container a:hover, .button-container a:focus {
background-color : #777777;
color : #ffffff;
}
.button-container a:active, .button-active a {
background-color : #ffffff;
color : #777777;
}
.menu-image-container {
flex-wrap : wrap;
display : flex;
width : 100%;
}
.menu-image-item {
width : 25%;
}
.menu-image-item-double {
width : 50%;
}
.menu-image-picture {
padding : 5px;
}
@media (max-width: 530px) {
.menu-image-item {
width : 33.3333%;
}
.menu-image-item-double {
width : 100%;
}
}
@media (max-width: 420px) {
.menu-image-item {
width : 50%;
}
}
@media (max-width: 599px) {
.div-tableau {
overflow : auto;
}
}

